.card {
  width: 257px;
  margin: 0 auto;
}

.img {
  height: 309px;
  /* background-color: var(--brand-color-2); */
  border-radius: 10px;
  position: relative;

  & + div {
    margin-top: 15px;

    & p {
      margin-bottom: 10px;
      font-weight: var(--fw-regular);
      font-size: 1.125rem;
      text-transform: capitalize;
      font-family: "Inter", sans-serif;
      color: var(--brand-color-1);
    }

    & > span {
      margin-bottom: 10px;
    }
  }
}

.icon {
  position: absolute;
  right: 20px;
  top: 20px;
}
